# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db